.App {
  text-align: center;
}

.App-logo {
  height: 300px;
  width: 250px;
  pointer-events: none;
  margin-bottom: 60px;
}

body {
  color: #ffe7ee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

span {
  color: #f16f96;
  font-size: 40pt;
}
